body{
    background-color: #f2e8f0;
}

.card{
    box-shadow: 1px 5px 10px rgb(116, 116, 116);
}
.rowtwo{
    margin-bottom: 55px;
    margin-top: 55px;
}
.des{
    margin-top: 120px;
    font-family: 'Kaushan Script', cursive;
    font-size: 25px;
}
.info{
    background-color: #343a40; 
    color: #ffffff; 
    padding: 2em;
    box-shadow: 3px 3px 10px #ac69a0;
    border-radius: 4px;
}
.info p{
    padding-top: 15px;
}
